.aboutContainer {
    margin: auto;
    width: 50%;
    border: solid rgb(172, 6, 6);
    padding: 10px;
    background-color: white;
}

.aboutP {
    text-align: justify;
}

.aboutLink {
    text-decoration: underline;
    color: blue;
}