.aboutContainer {
    margin: auto;
    width: 70%;
    border: solid rgb(172, 6, 6);
    padding: 10px;
    background-color: white;
}

.aboutP {
    text-align: justify;
}

.aboutLink {
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 500px){

    .aboutContainer {
        width: 80%;
        margin-top: 80px;
    }

    p {
        font-size: 15px;
    }
}