.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nasaLogo{
    width: 500px;
    border: solid rgb(172, 6, 6);
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .nasaLogo {
        max-width: 300px ;
    }
}
