.searchInput {
    background: linear-gradient(21deg, #10abff36, #1beabd33);
    height: 20px;
    width: 200px;
    border-color: darkred;
}

.searchForm{
    display: flex;
}

.searchButton {
    background-color: rgba(0, 191, 255, 0.39);
}