.searchForm {
    display: flex;
    flex-direction: row;
}

.searchInput {
    padding:10px;
    border:0;
    border-radius: 2%;
    box-shadow:0 0 15px 4px rgb(2, 1, 1);
}

.searchButton {
    width: 80px;
    background-color: rgba(12, 6, 2, 0.788);
    box-shadow:0 0 15px 4px rgb(2, 1, 1);
    color: rgb(211, 5, 5);
    font-style: bold;
    border:0;
}
