body {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(192, 192, 192, 0.37);
}
.imageContainer {
    margin-top: 80px;
    text-align: center;
}

.imageOnScreen {
    margin: 20px;
    height: 300px;
    border: solid rgb(172, 6, 6)
}
.welcomeMessage {
    margin-top: 100px;
    text-align: center;
}

.imageOnScreen:hover {
    border-color: rgb(255, 0, 0);
}


@media screen and (max-width: 800px) {
    body {
        font-size: 20px;
    }
    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 200px;
    }

    .imageOnScreen {
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width: 550px) {

    .imageOnScreen {
        height: 200px;
        width: auto;
        max-width: 320px;
        padding: 0%;
    }
}